*
{
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    font-size: 12px; /*sets the root size of 1.0em to 12px.*/
}

html,body
{
    background: gray;
}

.question
{
    border: 1px solid gray;
    font-family: Courier;
    margin: 0px 30px 10px 30px;
    padding: 5px;
    background: beige;
}

.questionHeader
{
    background: green;
    border: 1px solid black;
    padding: 3px;
    font-weight: bold;
    font-size: 1.2em;
}

.questionBody
{
    margin: 10px;
}